body {
  background-color: aquamarine;
}




.FormAdd {
  width:35%; 
  background-color:gray;
  padding:15px;
  z-index:7;
  border-radius: 25px;
  top: 40%;
  left: 25%;
  border: 5px solid yellow;
}
.bouton{
  border:none;
  text-align: center;
}



